/* Header */

.header-container {
    width: 100%;
    height: 104px;
    background-color: #E6E6E6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 28px;
    border-bottom-left-radius: 15px;
    box-shadow: 5px 5px 10px lightgrey;
}

.header-left {

}

.header-left img {
    width: 90px;
    height: 90px;
}

.header-center {
    display:  none;
}

.progress-bar-container {
    width: 800px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 15px;
}

.progress-bar {
    height: 100%;
    background-color: #EE0F0F;
    border-radius: 15px;
    transition: width 2s ease-out;

}

.header-right {
    display:  none;
}

.header-right h1 {

}



/* Start Menu */

.start-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start-menu-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.start-menu-text h1 {
    font-size: 60px;
    font-weight: 500;
}

.start-menu-text h1 span{
    color: #EE0F0F;
}

.start-menu-text p {
    font-size: 30px;
}

.start-menu-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    
}

.start-menu-options input {
    font-size: 36px;
    width: 220px;
    height: 90px;
    border: 1px solid black;
    margin-bottom: 40px;
    box-shadow: 5px 5px 10px lightgrey;

}

.startOptions {
    background-color: #E6E6E6;
}

.start-options-left {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
}

.option-float-left {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.option-float-right {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.start-options-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 50px;
}

.start-options-center img {
    width: 295px;
    height: 295px; 
}

.start-options-right {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
}



/* QuestionPage.jsx */

.main-content-container {
    position: relative;
    width: 100%;
    height: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-container h3 {
     font-size: 30px;
}

.question-container h3 span {
    font-size: 35px;
    color: #EE0F0F;
}

.noAnswer {
    visibility: hidden;
    font-size: 30px;
    color: #EE0F0F;
    margin-top: 50px;
}

.correctAnswer {
    visibility: hidden;
}

.user-input-container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

input[type='text'] {
    width: 370px;
    height: 50px;
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 5px 8px;
    font-size: 28px;
    text-align: center;
}

input[type='submit'] {
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    width: 215px;
    height: 60px;
    color: black;
    font-size: 22px;
    text-decoration: none;
    border: 1px solid black;
}

input[type='button'] {
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}

 .game-stats-hidden-by-default {
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.game-stats-hidden-by-default p {

}



/* Footer */


.footer-container {
    width: 100%;
    height: 150px;
    border-top: 1px solid #707070;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 28px;
}

.footer-left {

}

.footer-center {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-center h3 {
    margin-right: 15px;
    font-size: 28px;
}

.footer-center img {
    width: 30px;
    height: 30px;
}

.footer-right {
    
}

.startBtn {
    width: 215px;
    height: 60px;
    background-color: #E6E6E6;
    color: black;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid black;
    opacity: 0.4;
    transition: background-color 0.8s;
    transition: opacity 0.8s;
}

.skipBtn {
    display: none;
    width: 215px;
    height: 60px;
    background-color: #E6E6E6;
    color: black;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid black;
    transition: background-color 0.15s;
}

.skipBtn:hover {
    background-color: #EE0F0F;
}

.quitBtn {
    width: 215px;
    height: 60px;
    color: black;
    font-size: 22px;
    text-decoration: none;
    opacity: 0.4;
    border: 1px solid black;
}

.attemptImg {
    margin-right: 5px;
}
